<header>
  <div class="navbar">
    <div class="logo">TECH-WORLD</div>
    <div class="dropdown">
      <select name="Theme" id="">
        <option class="them1" value="1">Theme</option>
        <option class="them2" value="2">Theme 1</option>
        <option class="them3" value="3">Theme 2</option>
        <option class="them4" value="4">Theme 3</option>
        <option class="them5" value="5">Theme 4</option>
        <option class="them6" value="6">Theme 5</option>
      </select>
    </div>
  </div>
  <div class="main-header">
    <div class="star1"></div>
    <div class="star2"></div>
    <div class="poly"></div>
    <div class="eclip"></div>
    <div class="eclip26"></div>
    <div class="star3"></div>
    <div class="eclip-2"></div>
    <div class="eclip-3"></div>
    <div class="left">
      <div class="title-1">
        <p>We Create Powerful</p>
        <p>Digital <span>Products.</span></p>
      </div>
      <div class="title-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor morbi
        velit turpis et dolor sit morbi odio id. Aliquam ultricies tortor ac.
      </div>
      <button>
        <p>Get Started</p>
      </button>
    </div>
    <div class="right">
      <img src="../assets/img/img-main/mainphone.png" alt="" />
    </div>
  </div>
</header>

<main>
  <div class="section1">
    <div class="title">
      <h3>Special Expertise from Us</h3>
      <div class="line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue et
        pharetra dolor pharetra, convallis turpis euismod ultrices. Netus nisl
        pretium sapien egestas vestibulum felis. Nisi orci.
      </p>
    </div>
    <div class="flex-container">
      <div class="card">
        <img src="../assets/img/section1/mobileappdevelopment1.png" alt="" />
        <div class="card-body">
          <h5>Mobile Apps</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum
            mauris non pellentesque accumsan. Nec pellentesque eget.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/img/section1/web-development1.png" alt="" />
        <div class="card-body">
          <h5>Website Apps</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum
            mauris non pellentesque accumsan. Nec pellentesque eget.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/img/section1/Web-Designing1.png" alt="" />
        <div class="card-body">
          <h5>UI/UX</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum
            mauris non pellentesque accumsan. Nec pellentesque eget.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<section>
  <div class="section2">
    <div class="left">
      <img src="../assets/img/section2/32540-4-technology-hd1.png" alt="" />
    </div>
    <div class="title">
      <h2>strategic engineering and design for international top brands</h2>
      <div class="line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus
        duis nibh laoreet. Malesuada luctus tincidunt tortor consectetur netus
        facilisi dapibus laoreet orci.
      </p>
    </div>
  </div>
</section>

<div class="section3">
  <div class="section">
    <div class="left">
      <h3>We work with the Great Team</h3>
      <div class="line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet felis
        feugiat fermentum viverra dignissim et quam. Blandit adipiscing commodo
        tempus adipiscing molestie pellentesque erat. Massa a, amet, suspendisse
        arcu. In felis id enim dolor sagittis senectus. Consectetur lorem dui
        ultrices ultrices sagittis lectus.
      </p>
      <button>Know More</button>
    </div>
    <div class="right">
      <div class="group">
        <img src="../assets/img/section3/39733281.png" alt="" />
      </div>
      <div class="group2">
        <img src="../assets/img/section3/Group33.png\" alt="" />
      </div>
      <div class="group3">
        <img src="../assets/img/section3/XMLID806.png" alt="" />
      </div>
      <div class="group4">
        <img src="../assets/img/section3/Rectangle29.png" alt="" />
      </div>
      <div class="group5">
        <img src="../assets/img/section3/Group37.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="section4">
  <section>
    <div class="left">
      <img src="../assets/img/section4/bg.png" alt="" />
    </div>
    <div class="right">
      <h3>We work with the Great Team</h3>
      <div class="line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet felis
        feugiat fermentum viverra dignissim et quam. Blandit adipiscing commodo
        tempus adipiscing molestie pellentesque erat. Massa a, amet, suspendisse
        arcu. In felis id enim dolor sagittis senectus. Consectetur lorem dui
        ultrices ultrices sagittis lectus.
      </p>
      <button>View All</button>
    </div>
  </section>
</div>

<div class="contact">
  <div class="info">
    <div class="title">
      <h1>Contact Us</h1>
      <div class="line"></div>
    </div>
    <form>
      <div class="info1">
        <div class="email">
          <label for="">Email</label>
          <br />
          <input type="email" name="" id="" placeholder="Enter Email" />
        </div>
        <div class="phone">
          <label for="">Phone Number</label>
          <br />
          <input type="number" name="" id="" placeholder="Enter Phone Number" />
        </div>
      </div>
      <div class="info2">
        <div class="message">
          <label for="">Message</label>
          <br />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Enter Message"
          ></textarea>
        </div>
        <div class="text-title">
          <label for="">Title</label><br />
          <input type="text" name="" id="" placeholder="Enter Title" />
          <br />
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer>
  <div class="content">
    <div class="useful">
      <div class="heading">
        <h3>Navigate</h3>
        <div class="menu">
          <div class="title-menu">
            <img src="../assets/img/footer/chevrons-right.png" alt="" />
            <p>Home</p>
          </div>
          <div class="title-menu">
            <img src="../assets/img/footer/chevrons-right.png" alt="" />
            <p>Portfolio</p>
          </div>
          <div class="title-menu">
            <img src="../assets/img/footer/chevrons-right.png" alt="" />
            <p>Career</p>
          </div>
          <div class="title-menu">
            <img src="../assets/img/footer/chevrons-right.png" alt="" />
            <p>Contact Us</p>
          </div>
        </div>
      </div>
    </div>
    <div class="popular">
      <div class="heading">
        <h3>Social Media</h3>
        <div class="menu">
          <div class="title-menu">
            <p>Facebook</p>
          </div>
          <div class="title-menu">
            <p>Instagram</p>
          </div>
          <div class="title-menu">
            <p>Linkedin</p>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="heading">
        <h3>About</h3>
        <div class="menu">
          <div class="title-menu">
            <p>Privacy Policy</p>
          </div>
          <div class="title-menu">
            <p>Terms & Condition</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="title">
        <h1>TECH-WORLD</h1>
        <p>Copyright (c)2022</p>
      </div>
      <div class="noidung">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero, orci
          tempor eget interdum. Egestas fermentum tellus gravida ut mauris,
          pulvinar libero suspendisse ornare. Viverra nulla aliquam nullam
          interdum pretium gravida mi. Porttitor duis sagittis vel et.
        </p>
      </div>
    </div>
  </div>
</footer>
