header {
  width: 100%;
  height: 989px;
  background-image: url(../assets/img/Vector1.png);
  .navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px rgb(0 0 0 / 15%);
    background: transparent;
    .logo {
      font-size: 30px;
      font-weight: 900;
      color: #f03a76;
      height: 54px;
      display: flex;
      margin-left: -250px;
      align-items: center;
    }
    .dropdown {
      width: 198px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 0px 100px;
      position: relative;

      select {
        border: none;
        background: transparent;
        option {
          width: 70px;
          height: 22px;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .main-header {
    position: absolute;
    width: 90vw;
    height: 703px;
    left: 74px;
    top: 143px;
    .star1 {
      background-image: url(../assets/img/img-main/ngoisao.png);
      position: absolute;
      width: 50px;
      height: 50px;
      left: 172px;
      top: 130px;
    }
    .star2 {
      background-image: url(../assets/img/img-main/tron1.png);
      position: absolute;
      width: 48px;
      height: 48px;
      left: -55px;
      top: 190px;
    }
    .poly {
      background-image: url(../assets/img/img-main/tamgiac.png);
      position: absolute;
      width: 47px;
      height: 42.06px;
      left: -58.89px;
      top: 438.92px;
    }
    .eclip {
      background-image: url(../assets/img/img-main/tronvien.png);
      position: absolute;
      width: 67px;
      height: 67px;
      left: 257px;
      top: 439px;
    }
    .eclip26 {
      background-image: url(../assets/img/img-main/tronbu.png);
      position: absolute;
      width: 143px;
      height: 143px;
      left: 712px;
      top: 627px;
    }
    .star3 {
      background-image: url(../assets/img/img-main/ngoisao.png);
      position: absolute;
      width: 50px;
      height: 50px;
      left: 1395px;
      top: 520px;
    }
    .eclip-2 {
      background-image: url(../assets/img/img-main/tronblue.png);
      position: absolute;
      width: 32px;
      height: 32px;
      left: 1327px;
      top: 383px;
    }
    .eclip-3 {
      background-image: url(../assets/img/img-main/tron1.png);
      position: absolute;
      width: 48px;
      height: 48px;
      left: 1336px;
      top: 209px;
    }
    .left {
      width: 50%;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      margin-top: 183px;
      float: left;
      .title-1 {
        line-height: 76px;
        font-style: normal;
        width: 524px;
        height: 153px;
        font-size: 48px;
        font-weight: 900;
        text-transform: capitalize;
        color: #4a4a4a;
        span {
          color: #f03a76;
        }
      }
      .title-2 {
        width: 398px;
        height: 65px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 38px;
        color: #575757;
      }
      button {
        width: 223px;
        height: 58px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 10px;
        background: #ff91b5;
        box-shadow: 0px 10px 15px rgb(240 58 118 / 18%);
        border-radius: 50px;
        border: none;
        margin-top: 27px;

        p {
          width: 123px;
          height: 38px;
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          line-height: 38px;
          letter-spacing: 0.005em;
          color: #2c2b2b;
        }
      }
    }
    .right {
      // background-image: url(../assets/img/img-main/mainphone.png);
      height: 703px;
      flex-direction: column;
      display: flex;
      align-items: flex-start;

      img {
        z-index: 1;
        overflow: hidden;
      }
    }
  }
}

main {
  width: 100%;
  .section1 {
    min-width: calc(100% - 500px);
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .title {
      width: 749px;
      height: 169px;
      h3 {
        width: 663px;
        height: 43px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #4a4a4a;
      }
      .line {
        width: 70px;
        border: 4px solid #f03a76;
        width: 70px;
        border: 4px solid #f03a76;
        margin: 10px auto;
      }
      p {
        width: 749px;
        height: 71px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 38px;
        text-align: center;
        color: #575757;
      }
    }
    .flex-container {
      display: flex;
      gap: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      .card {
        width: 389px;
        height: 337px;
        background: #ffffff;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h5 {
            width: 141px;
            height: 33px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            color: #4a4a4a;
          }
          p {
            width: 332px;
            height: 74px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 179%;
            text-align: center;
            color: #575757;
          }
        }
      }
    }
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  .section2 {
    width: calc(100% - 500px);
    height: 556px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    .left {
      width: 100%;
      img {
        width: 500px;
        height: 563px;
      }
    }
    .title {
      width: 565px;
      height: 270px;
      h2 {
        width: 565px;
        height: 106px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }
      .line {
        width: 70px;
        height: 0px;
        left: 650px;
        top: 282.5px;
        border: 4px solid #14b8e4;
        margin: 10px;
      }
      p {
        width: 554px;
        height: 114px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 39px;
        letter-spacing: 0.005em;
        color: #575757;
      }
    }
  }
}

.section3 {
  width: 100%;
  height: 700px;
  background: #fafaff;
  display: flex;
  justify-content: center;
  .section {
    height: 700px;
    width: calc(100% - 369px);
    display: flex;
    .left {
      width: 672px;
      height: 339px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 185px;
      h3 {
        width: 496px;
        height: 53px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 147.4%;
        letter-spacing: 0.02em;
        color: #4a4a4a;
      }
      .line {
        width: 70px;
        border: 4px solid #f03a76;
        margin: 10px;
      }
      p {
        width: 672px;
        height: 152px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: 0.005em;
        color: #575757;
      }
      button {
        width: 226px;
        height: 58px;
        background: #ff91b5;
        box-shadow: 0px 10px 15px rgb(240 58 118 / 18%);
        border-radius: 50px;
        border: none;
      }
    }
    .right {
      display: flex;
      position: relative;
      .group {
        img {
          position: absolute;
          left: -56px;
          width: 560.03px;
          height: 700px;
          top: 0px;
          z-index: 1;
        }
      }
      .group2 {
        img {
          position: absolute;
          width: 430px;
          height: 428px;
          left: 52px;
          top: 203px;
        }
      }
      .group3 {
        img {
          position: absolute;
          left: 58.62%;
          right: 41.25%;
          top: 10.07%;
          bottom: 89.48%;
        }
      }
      .group4 {
        img {
          position: absolute;
          width: 106px;
          height: 103px;
          left: -16px;
          top: 143px;
        }
      }
      .group5 {
        img {
          position: absolute;
          width: 106px;
          height: 103px;
          left: 331px;
          top: 80px;
        }
      }
    }
  }
}

.section4 {
  width: 100%;
  height: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  section {
    width: calc(100% - 279px);
    .left {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
    .right {
      width: 50%;
      height: 339px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 60px;
      h3 {
        width: 496px;
        height: 53px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 147.4%;
        letter-spacing: 0.02em;
        color: #4a4a4a;
      }
      .line {
        width: 70px;
        border: 4px solid #f03a76;
        margin: 10px;
      }
      p {
        width: 672px;
        height: 152px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: 0.005em;
        color: #575757;
      }
      button {
        width: 226px;
        height: 58px;
        background: #ff91b5;
        box-shadow: 0px 10px 15px rgb(240 58 118 / 18%);
        border-radius: 50px;
        border: none;
      }
    }
  }
}

.contact {
  width: 100%;
  height: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  .info {
    width: calc(100% - 279px);
    .title {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      h1 {
        height: 43px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #4a4a4a;
      }
      .line {
        width: 70px;
        height: 0px;
        border: 4px solid #f03a76;
        margin-top: 10px;
      }
    }
    form {
      height: 288px;
      margin-top: 10px;
      .info1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 80px;
        height: 79px;
        margin-top: 34px;
        .email {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 5px;
          width: 589px;
          height: 79px;
          label {
            width: 275px;
            height: 24px;
          }
          input {
            box-sizing: border-box;
            width: 589px;
            height: 50px;
            border: 1px solid #656565;
            border-radius: 10px;
            padding: 10px;
          }
        }
        .phone {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 5px;
          width: 589px;
          height: 79px;
          label {
            width: 275px;
            height: 24px;
          }
          input {
            box-sizing: border-box;
            width: 589px;
            height: 50px;
            border: 1px solid #656565;
            border-radius: 10px;
            padding: 10px;
          }
        }
      }
      .info2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 80px;
        height: 179px;
        margin-top: 20px;
        .message {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 5px;
          width: 589px;
          height: 179px;
          label {
            width: 275px;
            height: 24px;
          }
          textarea {
            box-sizing: border-box;
            width: 589px;
            height: 150px;
            border: 1px solid #656565;
            border-radius: 10px;
            padding: 10px;
            resize: none;
          }
        }
        .text-title {
          display: flex;
          flex-direction: column;
          label {
            width: 275px;
            height: 24px;
          }
          input {
            box-sizing: border-box;
            width: 589px;
            height: 50px;
            border: 1px solid #656565;
            border-radius: 10px;
            padding: 10px;
          }
          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 175px;
            height: 58px;
            background: #ff91b5;
            box-shadow: 0px 10px 15px rgb(240 58 118 / 18%);
            border-radius: 50px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.005em;
            color: #2c2b2b;
            transform: translate3d(415px, 23px, 0px);
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  height: 437px;
  top: 4284px;
  background: #f03a76;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: calc(100% - 360px);
    height: 237px;
    display: flex;
    .useful {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 50px;
      width: 118px;
      height: 227px;
      .heading {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: 96px;
        height: 29px;
        h3 {
          width: 96px;
          height: 29px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
        }
        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 20px;
          width: 118px;
          height: 148px;
          margin-top: 32px;
          .title-menu {
            display: flex;
            width: 118px;
            height: 148px;
          }
        }
      }
    }
    .popular {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 50px;
      width: 136px;
      height: 185px;
      margin-left: 70px;
      .heading {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: 96px;
        height: 29px;
        h3 {
          width: 160px;
          height: 29px;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
        }
        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 20px;
          width: 118px;
          height: 148px;
          margin-top: 32px;
          .title-menu {
            display: flex;
            width: 118px;
            height: 148px;
          }
        }
      }
    }
    .service {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 50px;
      width: 136px;
      height: 185px;
      margin-left: 70px;
      .heading {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: 96px;
        height: 29px;
        h3 {
          width: 160px;
          height: 29px;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
        }
        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 20px;
          width: 118px;
          height: 148px;
          margin-top: 32px;
          .title-menu {
            display: flex;
            width: 118px;
            height: 148px;
            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 50px;
      width: 517px;
      height: 237px;
      margin-left: 70px;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 30px;
        width: 344px;
        height: 54px;
        h1 {
          width: 203px;
          height: 54px;
          font-style: normal;
          font-weight: 900;
          font-size: 25px;
          line-height: 178.5%;
          color: #ffffff;
        }
        p {
          width: 111px;
          height: 25px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 178.5%;
          color: #ffffff;
        }
      }
      .noidung {
        p {
          width: 517px;
          height: 133px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 178.5%;
          color: #ffffff;
        }
      }
    }
  }
}
